html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Droid Serif', sans-serif !important;
	font-weight: lighter !important;
	font: inherit;
	color: black;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: inherit;
    overflow-x: hidden;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	color: black;
	text-decoration:none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
a[href^=tel] {
    color inherit;
    text-decoration: none;
}

/** Reset End **/

/** Global **/
.container {
		padding-top: 1em;
		padding-bottom: 1em;
    text-align: center;
}

	.container-style3 > img {
	  display:inline-block;
	}

	.left {
		font-weight: 500;
		font-size: 1.5em;
		padding-bottom: 1.5em;
	    position: absolute;
	    left: 0px;
	    width: 300px;

			border: 4px solid #73AD21;
	}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/** Top **/
.information{
	display: inline-block;
	text-align: left;
	width: 30%;
	padding-top: 3em;
	padding-bottom: 3em;
}

.information > p{
	line-height: 2em;
}

.info{
	padding: 20px;
}

.container-style1 {
	background-color: white;
}

.container-style2{


}

.custom-title {
	display: block;
	position: relative;
	padding: 5em;
	padding-bottom: 1em;
	padding-top: 38%;
	font-size: 4.5em;
	color: grey;
}

.title-logo {
    height: 660px;
	display: block;
	background: no-repeat url('../imgs/logo.png') center top;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #2F4F4F;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 70px;
    text-align: center;

}


.smaller-image {
  width: 100px;
  float: right;
}


.bio-header{
	font-weight: 500;
	font-size: 1.5em;
	padding-bottom: 1.5em;
}
